 html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
  
  body {
    overflow-x: hidden;
  }
  /* header section starts  */
  header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top:0; 
    left: 0;
    z-index: 1000;
    padding: 2rem 3rem;
  }
  
  header .logo{
    font-size: 25px;
    color:#fff;
    text-decoration: none;
  
  }
  
  header .logo span{
    color: #fff;
  }
  
  header .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  header .navbar ul li{
    margin: 0 1rem;
  }
  
  header .navbar ul li a{
    color:#fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  
  }
  
  header .navbar ul li a.active,
  header .navbar ul li a:hover{
    color: #fff;
  }
  
  header #menu{
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  header.header-active{
    background:#0066ff;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
  }
  
  header.header-active .logo,
  header.header-active .navbar a{
    color:#333;
  }
  * {
      font-family: sans-serif,Verdana, Tahoma, sans-serif;
      text-transform: capitalize;
      transition: all .2s linear;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  /* header section ends */

  /* home section start */
  #home {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    background: url(/image/fit-1.jfif), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    padding-top: 5rem;
    position: relative;
    text-align: center;
  }
  
  #home h1 {
    font-size: 70px;
    margin: 0 5px;
    color: #fff;
  }
  
  #home h3 {
    font-size: 5rem;
    color: #0066ff;
    margin: 1rem 0;
  }
  
  #home button {
    margin: 20px 0;
    font-size: 20px;
    height: 40px;
    width: 140px;
    background: transparent;
    border: 2px solid #0066ff;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    color: #0066ff;
    font-weight: bold;
  }
  
  #home button:hover {
    background: #0066ff;
    color: #fff;
  }
  
  #home .icons {
    position: absolute;
    bottom: 3.5rem;
    left: 5rem;
    z-index: 1;
  }
  
  #home .icons a {
    text-decoration: none;
    font-size: 3rem;
    margin: 0 1rem;
    color: #fff;
  }
  
  #home .icons a:hover {
    color: #333;
  }
  
  #home .shape-image {
    position: absolute;
    bottom: -1rem;
    left: 0;
  }
  
  #home .shape-image img {
    height: 15rem;
    width: 100vw;
  }
  /* home section end */

  /* feature section start  */
  #feature {
    height: auto;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: #0066ff;
  }
  
  #feature h1 {
    color: #fff;
    font-size: 30px;
    margin: 30px 0;
  }
  
  #feature .card-container {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  
  #feature .card-container .card {
    width: 30rem;
    height: 40rem;
    margin: 2rem;
    background: #fff;
  }
  
  #feature .card-container .card img {
    width: 100%;
    height: 50%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  
  #feature .card-container .card .content {
    height: 50%;
    width: 100%;
    text-align: center;
  }
  
  #feature .card-container .card .content h1 {
    color: #0066ff;
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  #feature .card-container .card .content p {
    font-size: 12px;
    letter-spacing: 1px;
    padding: .5rem;
    text-transform: capitalize;
  }
  
  #feature .card-container .card .content button {
    height: 4rem;
    width: 14rem;
    background: transparent;
    border: 0.2rem solid #0066ff;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #0066ff;
    font-weight: bold;
    margin: 1rem 0;
  }
  
  #feature .card-container .card .content button:hover {
    background: #0066ff;
    color: #fff;
  }
  
  #feature .card-container .card:hover {
    -webkit-transform: translateY(-3rem);
    transform: translateY(-3rem);
    -webkit-box-shadow: 0 0 1rem #333;
    box-shadow: 0 0 1rem #333;
  }
  /* featutre section start */

  /* about section start */
  #about {
    height: auto;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  
  #about .image {
    margin: 5rem 10rem;
  }
  
  #about .image img {
    width: 45rem;
  }
  
  #about .content {
    width: 90vw;
  }
  
  #about .content h1 {
    font-size: 3rem;
    margin: 3rem 0;
    color: #0066ff;
  }
  
  #about .content p {
    font-size: 14px;
    letter-spacing: 1px;
    padding-right: 6rem;
    text-transform: capitalize;

  }
  
  #about .content .buttons {
    padding-right: 2rem;
  }
  
  #about .content .buttons button {
    height: 4rem;
    width: 12rem;
    background: transparent;
    border: 0.2rem solid #0066ff;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #0066ff;
    font-weight: bold;
    margin: 2rem 2rem 2rem 0;
  }
  
  #about .content .buttons button:hover {
    background: #0066ff;
    color: #fff;
  }
  /* about section end  */
  
  /* gallery section start */
  #gallery {
    display: -ms-grid;
    display: grid;
    place-items: center;
    height: auto;
    width: 100vw;
    background: #f7f7f7;
  }
  
  #gallery h1 {
    text-align: center;
    font-size: 3rem;
    color: #0066ff;
    margin: 2rem 0;
  }
  
  #gallery .image-container {
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  #gallery .image-container .image {
    height: 25rem;
    width: 30rem;
    margin: 2rem;
    overflow: hidden;
    position: relative;
  }
  
  #gallery .image-container .image img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  #gallery .image-container .image .info {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    bottom: -100%;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  
  #gallery .image-container .image .info button {
    height: 4rem;
    width: 14rem;
    background: transparent;
    border: 0.2rem solid #0066ff;
    outline: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #0066ff;
    font-weight: bold;
  }
  
  #gallery .image-container .image .info button:hover {
    background: #0066ff;
    color: #fff;
  }
  
  #gallery .image-container .image:hover .info {
    bottom: 0%;
  }
  /* gallery section end */
  
  /* trainer section starts */
  .trainer{
    min-height: 95vh;
    text-align: center;
    background: #0066ff;
  }
  
  #trainer .heading{
    color:#fff;
    font-size: 30px;
    padding: 20px;
  }
  
  .trainer .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .trainer .box-container .box{
    height: 400px;
    margin: 15px 10px;
    width: 270px;
    border: 1px solid #0066ff;
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 5px #000;
  }
  
  .trainer .box-container .box img{
    height:100%;
    width: 100%;
    object-fit: cover;
  }
  
  .trainer .box-container .box .info{
    color: #000;
    background:#fff;
    /* border-top: 0px solid #0066ff; */
    position: absolute;
    bottom: 0; 
    left: 0;
    font-size: 18px;
    width: 100%;
    padding: 14px 0;
  }
  
  .trainer .box-container .box .share{
    position: absolute;
    top: 10px;
    right: -100%;
    display: flex;
    flex-flow: column;
  }
  
  .trainer .box-container .box:hover .share{
    right:0;
  }
  
  .trainer .box-container .box .share a{
    height: 40px;
    width: 45px;
    line-height: 40px;
    color:#000;
    font-size: 18px;
    background:#fff;
    text-decoration: none;
    margin: 5px 10px;
  }
  
  .trainer .box-container .box .share a:hover{
    background: #0066ff;
    color:#fff;
  }
  /* trainer section end */
  
  /* plan section starts */
.plan{
    min-height: 95vh;
    text-align: center;
    background: #f7f7f7;
}
.plan .heading{
  color: #0066ff;
  font-size: 30px;
  padding: 20px;
}
.plan .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.plan .box-container .box{
    background:#fff;
    margin: 20px;
    width: 300px;
    height: 450px;
    box-shadow: 0 3px 5px rgba(0,0,0,.3);
}

.plan .box-container .box:hover{
    transform: scale(1.04);
}

.plan .box-container .box .title{
    font-size: 25px;
    background: #0066ff;
    color:#fff;
    padding: 10px 0;
}

.plan .box-container .box .price{
    font-size: 30px;
    color:#333;
    padding-top: 10px;
}

.plan .box-container .box .price span{
    font-size: 18px;
}

.plan .box-container .box .month{
    font-size: 15px;
    color: #666;
}

.plan .box-container .box ul{
    margin: 20px 70px;
    list-style: none;
}

.plan .box-container .box ul li{
    text-align: left;
    padding: 5px 0;
    font-size: 15px;
    color: #333;
}

.plan .box-container .box ul li i{
    color: #0066ff;
    padding:0 5px;
}

.plan .box-container .box .btn{
    margin-bottom: 30px;
}

.plan button {
  margin: 0px 0;
  font-size: 20px;
  height: 40px;
  width: 140px;
  background: transparent;
  border: 2px solid #0066ff;
  outline: none;
  font-size: 15px;
  cursor: pointer;
  color: #0066ff;
  font-weight: bold;
}

.plan button:hover {
  background: #0066ff;
  color: #fff;
}
/* plan section end */

/* contact section start */
  #contact {
    height: 100vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    overflow: hidden;
    background: url(back-img.jpg), -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background: url(back-img.jpg), linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
  }
  
  #contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  
  #contact form h1 {
    color: #0066ff;
    font-size: 4rem;
  }
  
  #contact form input {
    height: 4rem;
    background: transparent;
    margin: 2rem 0;
    padding: 0 1rem;
    border: 0.2rem solid #0066ff;
    outline: none;
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    width: 40vw;
  }
  
  #contact form input::-webkit-input-placeholder {
    color: #ccc;
  }
  
  #contact form input:-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form input::-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form input::placeholder {
    color: #ccc;
  }
  
  #contact form input:focus {
    background: #0066ff;
  }
  
  #contact form input[type="submit"] {
    height: 4rem;
    width: 14rem;
    background: transparent;
    border: 0.2rem solid #0066ff;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    color: #0066ff;
    font-weight: bold;
    background: #0066ff;
    color: #fff;
  }
  
  #contact form input[type="submit"]:hover {
    background: #0066ff;
    color: #fff;
  }
  
  #contact form input[type="submit"]:hover {
    background: transparent;
  }
  
  #contact form textarea {
    resize: none;
    background: transparent;
    outline: none;
    padding: 1rem;
    color: #fff;
    border: 0.2rem solid #0066ff;
    font-weight: normal;
    font-size: 10px;
  }
  
  #contact form textarea::-webkit-input-placeholder {
    color: #ccc;
  }
  
  #contact form textarea:-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form textarea::-ms-input-placeholder {
    color: #ccc;
  }
  
  #contact form textarea::placeholder {
    color: #ccc;
  }
  
  #contact form textarea:focus {
    background: #0066ff;
  }
  
  #contact .image img {
    height: 50vh;
    width: 30vw;
    margin-top: 1rem;
  }
  /* contact section end */

  /* footer section start */
  #footer {
    height: auto;
    width: 100vw;
    display: -ms-grid;
    display: grid;
    place-items: center;
    background: #333;
  }
  
  #footer .msg {
    text-align: center;
    color: #fff;
    margin: 2rem 0;
    font-size: 10px;
  }
  
  #footer .msg span {
    color: #0066ff;
  }
  
  #footer .footer-container {
    height: auto;
    width: 90vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  #footer .footer-container .brand {
    margin: 3rem 0;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25rem;
    flex: 1 0 25rem;
  }
  
  #footer .footer-container .brand .logo {
    margin: 1rem 0;
  }
  
  #footer .footer-container .brand .logo a {
    text-decoration: none;
  }
  
  #footer .footer-container .brand .logo a h1 {
    font-size: 3rem;
    color: #fff;
  }
  
  #footer .footer-container .brand .logo a h1 span {
    color: #0066ff;
  }
  
  #footer .footer-container .brand .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  
  #footer .footer-container .brand .icons a {
    text-decoration: none;
    color: #0066ff;
    font-size: 2rem;
    margin: .4rem 0;
    position: relative;
  }
  
  #footer .footer-container .brand .icons a::after {
    content: attr(data-text);
    position: absolute;
    top: .3rem;
    left: 3.5rem;
    font-family: 'Exo 2',sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #fff;
  }
  
  #footer .footer-container .contact-info {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25rem;
    flex: 1 0 25rem;
  }
  
  #footer .footer-container .contact-info .info {
    height: 12rem;
    width: 5rem;
    background: #0066ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  
  #footer .footer-container .contact-info .info a {
    font-size: 1.7rem;
    text-decoration: none;
    margin: 1rem 0;
    color: #fff;
    position: relative;
  }
  
  #footer .footer-container .contact-info .info a::after {
    content: attr(data-text);
    position: absolute;
    top: .3rem;
    left: 5.5rem;
    width: 20rem;
    text-align: left;
    font-family: 'Exo 2',sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #fff;
  }
  
  #footer .footer-container .letter {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 25rem;
    flex: 1 0 25rem;
    margin-top: 1rem;
  }
  
  #footer .footer-container .letter h1 {
    font-size: 3rem;
    color: #0066ff;
  }
  
  #footer .footer-container .letter p {
    color: #fff;
    margin: 1rem 0;
    font-size: 12px;
  }
  
  #footer .footer-container .letter input {
    height: 4rem;
    background: transparent;
    margin: 1rem 0;
    padding: 0 1rem;
    border: 0.2rem solid #0066ff;
    outline: none;
    color: #fff;
    font-weight: normal;
    font-size: 10px;
    width: 100%;
  }
  
  #footer .footer-container .letter input::-webkit-input-placeholder {
    color: #ccc;
  }
  
  #footer .footer-container .letter input:-ms-input-placeholder {
    color: #ccc;
  }
  
  #footer .footer-container .letter input::-ms-input-placeholder {
    color: #ccc;
  }
  
  #footer .footer-container .letter input::placeholder {
    color: #ccc;
  }
  
  #footer .footer-container .letter input:focus {
    background: #0066ff;
  }
  
  #footer .footer-container .letter input[type="submit"] {
    height: 4rem;
    width: 14rem;
    background: transparent;
    border: 0.2rem solid #0066ff;
    outline: none;
    font-size: 14px;
    cursor: pointer;
    color: #0066ff;
    font-weight: bold;
    background: #0066ff;
    color: #fff;
  }
  
  #footer .footer-container .letter input[type="submit"]:hover {
    background: #0066ff;
    color: #fff;
  }
  
  #footer .footer-container .letter input[type="submit"]:hover {
    background: transparent;
  }
  
  .fa-times {
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
  }
  /* footer section end */
  
/* media Quries */
  @media (max-width: 991px) {
    html {
      font-size: 50%;
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 40%;
    }
    html{
      font-size: 55%;
  }

  header #menu{
      display: block;
  }

  header .navbar{
      position: fixed;
      color: rgb(0, 0, 0);
      top:-100rem; 
      left: 0;
      width: 100%;
      opacity: 0;
      background: #0066ff;
      border-top: 1px solid rgba(0,0,0,.3);
  }

  header .navbar ul{
      flex-flow: column;
      padding: 1rem 0;
  }

  header .navbar ul li{
      margin:1rem 0;
      text-align: center;
      width: 100%;
  }

  header .navbar ul li a{
      font-size: 2.5rem;
      color: #333;
      display: block;
  }

  header .navbar.nav-toggle{
      top: 8rem;
      opacity: 1;
  }
    #about {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #about .image img {
      width: 80vw;
    }
    #about .content {
      text-align: center;
    }
    #about .content p {
      padding: 1rem;
    }
    #about .content .buttons {
      padding: 0;
    }
    #contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column;
              flex-flow: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
    #contact .image img {
      width: 80vw;
      height: 70vw;
    }
    #contact form input {
      width: 90vw;
    }
  }
  
  @media (max-width: 620px) {
    #home h1 {
      font-size: 6.5rem;
    }
    #home h3 {
      font-size: 4rem;
    }
    #home .icons {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
    }
  }
  /* # sourceMappingURL=style.css.map */
